//output:index.html, pretty:true

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Resident Evil 2
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
  
  body
    header.resident-evil-box 
      .leon-claire
      .logo
      
    section.content
      
      article
        
        h1 Resident Evil 2 Remake
        
        hr
        
        p Welcome
        
        hr
        
        .resident-evil-pics
          .row.img-over
            figure.columns.six
              img(src="/images/resident-evil-2-ada.jpg")
              figcaption ABOUT
              
            figure.columns.six
              img(src="/images/resident-evil-2-claire-bike.jpg")
              figcaption SHOP
                
          .row.img-over
            figure.columns.six
              img(src="/images/resident-evil-2-claire-sherry.jpg")
              figcaption CHARACTERS
              
            figure.columns.six
              img(src="/images/resident-evil-2-ghost-survivors.png")
              figcaption DLC
              
          .row.img-over
            figure.columns.six
              img(src="/images/resident-evil-2-leon.jpg")
              figcaption FAQ
              
            figure.columns.six
              img(src="/images/resident-evil-2-original.jpg")
              figcaption THE ORIGINAL
              
          .row.img-over
            figure.columns.six
              img(src="/images/resident-evil-2-william-berkin.jpg")
              figcaption TRIVIA
              
            figure.columns.six
              img(src="/images/resident-evil-2-remake-leon.jpg")
              figcaption DEMO
              
        hr
        
        .large-window
          .window-tint
            .promo-text Buy now
              strong <span>from</span> £49
              a(href="").window-cta Shop Now
        
        h1 About
        
        hr
        
        p This new release of Resident Evil 2 is a remake of the original 1998Resident Evil 2
        
        hr
        
        .blog-posts.row
        
          .post.columns.four.post-1
            h5 Title
            img(src="/images/resident-evil-2-claire.jpg")       
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            p: a.button(href="") Read More 
            
          .post.columns.four.post-2
            h5 Title
            img(src="/images/resident-evil-2-William-Berkin.jpg")       
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p: a.button(href="") Read More 
            
          .post.columns.four.post-3
            h5 Title
            img(src="/images/resident-evil-2-leon.jpg")       
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p: a.button(href="") Read More 
          
            
            
    footer
      .row.footer-block
        .columns.three
          strong FIND US ON
          ul
            li: a(href="") Twitter
            li: a(href="") Facebook
            li: a(href="") Instagram
            
        .columns.three
          strong OTHER GAMES
            li: a(href="") Resident Evil 0
            li: a(href="") Resident Evil 1 
            li: a(href="") Resident Evil 4
            li: a(href="") Resident Evil 7
            
        .columns.six
          p <strong> Sign Up for the Latest News </strong>
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          
          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")
      

    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
